.service img{
  width: 100%;
}

.book{
  padding: 10px 25px;
  border: none;
  background-color: coral;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.service{
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}